@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color01: #f0c53e;
  --secondary-color: #e5e5e5;
  --primary-color02: #a7283e;
  --text-color-dark: #2c2d32;
  --text-color-light: #fff;
  --background-color: rgba(255, 255, 255, 0.9);
}

.btn {
  padding: 0.8rem 2rem;
  background-color: var(--primary-color02);
  color: var(--text-color-light);
  border-radius: 2rem;
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: var(--text-color-dark);
  opacity: 0.7;
  position: fixed;
  transition: all 0.4s ease-in-out;
}

.mobile-nav {
  width: 100vw;
  height: 45vh;
  position: fixed;
  background-color: var(--primary-color02);
  z-index: 1;
  padding: 1rem 1.5rem;
  transform: translateY(-100vh);
  transition: transform 0.4s ease-in-out;

  .mobile-nav-links {
    list-style: none;

    .mobile-nav-link {
      padding: 0.5rem;
      color: var(--text-color-light);
      border-bottom: 1px dashed var(--primary-color01);
      transition: all 0.25s ease-in-out;
    }

    .mobile-nav-link:hover {
      background-color: var(--primary-color01);
      opacity: 0.9;
    }
  }

  .mobile-nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}

.theme {
  width: 55px;
  background-color: var(--text-color-dark);
  border-radius: 2.4rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  position: relative;

  .circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    margin: 0.2rem;
    z-index: 2;
    transform: translateX(-50%);
    transition: transform 0.2s ease-in-out;
  }

  .toggler {
    transform: translateX(50%);
  }

  .theme-icons {
    color: var(--text-color-light);
    position: absolute;
  }

  .left {
    left: 0.4rem;
  }

  .right {
    right: 0.4rem;
  }
}

//      Header Start

.header {
  background: url(../Assets/images/Rectangle4.png);
  background-position: center;
  background-size: cover;
  height: 100vh;

  //   Navbar Start

  .navbar {
    padding: 2rem 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .nav-links {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;

      .nav-link {
        color: var(--text-color);
        margin-left: 4rem;
        cursor: pointer;
      }
    }

    // .nav-btn {
    //   display: flex;
    //   flex-direction: row;
    //   align-items: center;

    //   .phone-icon {
    //     margin-right: 1rem;
    //   }
    // }

    .theme {
      width: 55px;
      background-color: var(--text-color-dark);
      border-radius: 2.4rem;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-around;
      position: relative;

      .circle {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: var(--secondary-color);
        margin: 0.2rem;
        z-index: 2;
        transform: translateX(-50%);
        transition: transform 0.2s ease-in-out;
      }

      .toggler {
        transform: translateX(50%);
      }

      .theme-icons {
        color: var(--text-color-light);
        position: absolute;
      }

      .left {
        left: 0.4rem;
      }

      .right {
        right: 0.4rem;
      }
    }

    .menu-icon {
      display: flex;
      flex-direction: column;
      transition: transform 0.4s ease-in-out;

      .bar {
        width: 32px;
        height: 0.5vh;
        margin-bottom: 0.3rem;
        border-radius: 0.2rem;
        background-color: var(--text-color-dark);
      }
    }

    .bar:hover {
      animation-name: rotate;
      animation-duration: 0.4s;
      animation-timing-function: ease-in-out;
    }

    .bar1 {
      animation-duration: 0.4s;
      animation-timing-function: ease-in-out;
    }
    .bar2 {
      animation-duration: 0.4s;
      animation-delay: 0.4s;
      animation-timing-function: ease-in-out;
    }
    .bar3 {
      animation-duration: 0.4s;
      animation-delay: 0.8s;
      animation-timing-function: ease-in-out;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  //  Navbar End

  //  Hero Start

  .hero {
    padding: 2rem 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .hero-text {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      color: var(--text-color-dark);
      width: 70%;

      .hero-header {
        font-weight: 800;
        font-size: 44px;
        color: var(--text-color-dark);
      }

      .hero-title {
        font-size: 20px;
        font-weight: 400px;
        width: 75%;
      }

      .span {
        color: var(--primary-color02);
      }

      .hero-cta {
        display: flex;
        align-items: center;
        flex-direction: row;

        .hero-btn {
          font-size: 20px;
          margin-right: 1rem;
        }

        .anchor {
          display: flex;
          flex-direction: row;
          align-items: center;
          text-decoration: none;
          color: var(--text-color-dark);
          gap: 0.5rem;
          font-size: 18px;
        }

        .play {
          margin-right: 0.5rem;
        }
      }
    }

    .hero-image {
      position: relative;

      .image {
        width: 100%;
      }

      .hero-image-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        background: var(--background-color);
        position: absolute;
      }

      .hero-image-text01 {
        padding: 1.5rem;
        top: 3.5rem;
        border-radius: 1rem;
      }

      .hero-image-text02 {
        padding: 1.5rem;
        bottom: 0.5rem;
        border-radius: 1rem;
      }
    }
  }

  // Hero End
}

//   Header End

//   MEDIA QUERIES
@media (max-width: 1300px) {
  .header {
    height: 150vh;

    .hero {
      flex-direction: column !important;

      .hero-text {
        text-align: center;
        margin-bottom: 5rem;

        .hero-title {
          width: 100%;
        }
      }

      .hero-cta {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 877px) {
  .hero-cta {
    flex-direction: column !important;
    gap: 1.5rem;

    .hero-btn {
      margin-right: 0 !important;
    }
  }

  .hero-image-text02 {
    display: none !important;
  }

  .nav-links,
  .navbar .theme {
    display: none !important;
  }
}

@media (min-width: 887px) {
  .menu-icon {
    display: none !important;
  }
}

@media (max-width: 1000px) {
  .nav-link:last-child {
    display: none;
  }
}

@media (max-width: 420px) {
  .btn {
    font-size: 18px !important;
    padding: 0.8rem 1rem;
  }
}
