@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


html{
    scroll-behavior: smooth;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

:root{
    --primary-color01: #F0C53E;
    --secondary-color:#E5E5E5;
    --primary-color02:#A7283E;
    --text-color-dark:#2C2D32;
    --text-color-light:#fff;
}

.btn{
    padding: .8rem 2rem;
    background-color: var(--primary-color02);
    color: var(--text-color-light);
    border-radius: 2rem;
    font-size: 20px;
    cursor: pointer;
}

.header{
    background: url(../Assets/images/Rectangle4.png);
    background-position: center;
    background-size: cover;
    height: 100vh;

    
    .navbar{
        padding: 2rem 5vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    
    
        .nav-links{
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
    
    
            .nav-link{
                color: var(--text-color);
                margin: 0 2rem;
                cursor: pointer;
            }
        }
    
    
        .nav-btn{
            display: flex;
            flex-direction: row;
            align-items: center;
    
    
            .phone-icon{
                margin-right: 1rem;
            }
        }
    }
}

